
<div class="login-container" id="login">
  <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
    <ul class="login-nav">
      <li class="login-nav__item active">
        <a routerLink="/login">Đăng nhập</a>
      </li>
      <li class="login-nav__item ">
        <a routerLink="/sign-up">Đăng kí </a>
      </li>
    </ul>
    <label for="login-input-user" class="login__label">
      Tài khoản
    </label>
    <input id="login-input-user" class="login__input" type="text" formControlName="username"/>
    <p class="error" *ngIf="loginForm.controls.username?.errors?.required && loginForm.controls.username?.touched">Xin vui lòng nhập địa chỉ email.</p>
    <label for="login-input-password" class="login__label">
      Mật khẩu
    </label>
    <input id="login-input-password" class="login__input" type="password"  formControlName="password"/>
    <p class="error" *ngIf="loginForm.controls.password?.errors?.required && loginForm.controls.password?.touched">Xin vui lòng nhập mật khẩu.</p>
    <label for="login-sign-up" class="login__label--checkbox">
      <input id="login-sign-up" type="checkbox" class="login__input--checkbox" formControlName="rememberMe"/>
      Ghi nhớ đăng nhập
    </label>
    <button type="submit" class="login__submit" >Đăng nhập</button>
  </form>
  <a  href="#" class="login__forgot">Quên mật khẩu?</a>
</div>

