<!-- Featured Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Số lượng sản phẩm</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
        <h5 class="font-weight-semi-bold m-0">Giao hàng miễn phí</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">14 ngày đổi trả</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
      </div>
    </div>
  </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
        <p class="text-right">15 Products</p>
        <a href="" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="../../assets/img/kemneInnisfreee500x500.jpg" alt="">
        </a>
        <h5 class="font-weight-semi-bold m-0">Kem nền Innisfree</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
        <p class="text-right">15 Products</p>
        <a href="" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="../../assets/img/kemnenFIT500x500.jpg" alt="">
        </a>
        <h5 class="font-weight-semi-bold m-0">Kem nền FIT</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
        <p class="text-right">15 Products</p>
        <a href="" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="../../assets/img/son-mac-500x500.jpg" alt="">
        </a>
        <h5 class="font-weight-semi-bold m-0">Son MAC</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
        <p class="text-right">15 Products</p>
        <a href="" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="../../assets/img/bangmat3ce500x500.jpg" alt="">
        </a>
        <h5 class="font-weight-semi-bold m-0">Bảng mắt 3CE</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
        <p class="text-right">15 Products</p>
        <a href="" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="../../assets/img/bangmatkalavu500x500.png" alt="">
        </a>
        <h5 class="font-weight-semi-bold m-0">Bảng mắt Kalavu</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
        <p class="text-right">15 Products</p>
        <a href="" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="../../assets/img/sonboobi500x500.png" alt="">
        </a>
        <h5 class="font-weight-semi-bold m-0">Son Bobbi</h5>
      </div>
    </div>
  </div>
</div>
<!-- Categories End -->


<!-- Offer Start -->
<div class="container-fluid offer pt-5">
  <div class="row px-xl-5">
    <div class="col-md-6 pb-4">
      <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
        <img src="../../assets/img/son1280x720-removebg.png" alt="" style="width: 100%;height: 800px">
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-primary mb-3">Giảm giá 10% tất cả sản phẩm </h5>
          <h1 class="mb-4 font-weight-semi-bold">SON</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Cửa hàng</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 pb-4">
      <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
        <img src="../../assets/img/highlight1200x720_preview_rev_1.png" alt="" style="margin-bottom: 13px;">
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-primary mb-3">Giảm giá 20% tất cả sản phẩm</h5>
          <h1 class="mb-4 font-weight-semi-bold">BẢNG MẮT</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Cửa hàng</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Offer End -->


<!-- Subscribe Start -->
<div class="container-fluid bg-secondary my-5">
  <div class="row justify-content-md-center py-5 px-xl-5">
    <div class="col-md-6 col-12 py-5">
      <div class="text-center mb-2 pb-2">
        <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Đăng kí nhận khuyến mãi</span></h2>
        <h5>Lee House sẽ gửi đến bạn các ưu đãi hot nhất</h5>
        <li>Giảm giá sản phẩm</li>
        <li style="margin-left: 4.5px">Sản phẩm bán chạy</li>
        <li style="margin-left: -39px">Sản phẩm mới</li>
      </div>
      <form action="">
        <div class="input-group">
          <input type="text" class="form-control border-white p-4" placeholder="Nhập email tại đây">
          <div class="input-group-append">
            <button class="btn btn-primary px-4">Đăng kí</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Subscribe End -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col">
      <div>
        <div class="vendor-item border p-4">
          <img style="margin-left: 60px" src="../../assets/img/vendor-1.jpg" alt="">
          <img src="../../assets/img/vendor-2.jpg" alt="">
          <img src="../../assets/img/vendor-3.jpg" alt="">
          <img src="../../assets/img/vendor-4.jpg" alt="">
          <img src="../../assets/img/vendor-5.jpg" alt="">
          <img src="../../assets/img/vendor-6.jpg" alt="">
          <img src="../../assets/img/vendor-7.jpg" alt="">
          <img src="../../assets/img/vendor-8.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Vendor End -->
