.carousels {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.carousel-inners {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-items {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-items img {
  max-height: 80%;
  max-width: 80%;
}
